<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>DisplayServlet</servlet-name>
		<servlet-class>test.DisplayServlet</servlet-class>
		<init-param>
			<param-name>b</param-name>
			<param-value>2000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayServlet</servlet-name>
		<url-pattern>/dis</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>input.html</welcome-file>
	</welcome-file-list>
</web-app>